body{
    margin: 0;
}
h1{
    margin: 0;
    border: 0;
    padding: .5em;
    background-color: #00387d;
    text-align: center;
    color: white;
    font-size: 2.5em;
}
.content {
    font-family: 'Lora', sans-serif;
    font-size: 1.2em;
    /* display: none; */
}
.main-container{
    margin: 2em 6em 2em;
    text-align: justify;
}